*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(228,220,94);
    background: linear-gradient(90deg, rgba(228,220,94,1) 0%, rgba(91,90,79,1) 95%);
}

.game {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* GRID BOARD */ /* GRID BOARD */ /* GRID BOARD */ 

.grid {
    
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    gap: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    align-self: center;
}

.grid div {
    display: flex;
    flex-grow: 3;
    background-color: rgb(255,248,165);
    padding: 2em;
    border-radius: 15px;
    height: 300px;
}



/* style BOTÓN */ /* style BOTÓN */ /* style BOTÓN */
.controles {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
}
.moves{
    font-size: 25px;
}
button {
    position: relative;
    display: inline-block;
    text-align: center;
    border-color: #c74545;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 15px 15px;
    letter-spacing: 3px;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    
}

button:hover {
    background: #c74545;
    color: rgb(214, 209, 209);
    box-shadow: 0 0 10px #c74545, 0 0 40px #c74545, 0 0 80px #c74545;
    transition-delay: 0.2;
}

#btn-coleccion {
    position: relative;
    display: inline-block;
    text-align: center;
    border-color: #176294;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 15px 15px;
    letter-spacing: 3px;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    
}

#btn-coleccion:hover {
    background: #176294;
    color: rgb(214, 209, 209);
    box-shadow: 0 0 10px #176294, 0 0 40px #176294, 0 0 80px #176294;
    transition-delay: 0.2;
}

.stats {
    color: #FFF;
    font-size: 14pt;
    margin: 20px 20px;
    padding: 10px 2px;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}


/* style IMG CARDS */ /* style IMG CARDS */ /* style IMG CARDS */


#card1 {
    background-image: url("./Sprites-Cartas/Carta-cohete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card2 {
    background-image: url("./Sprites-Cartas/Carta-cohete2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card3 {
    background-image: url("./Sprites-Cartas/carta-regalo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card4 {
    background-image: url("./Sprites-Cartas/carta-regalo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card5 {
    background-image: url("./Sprites-Cartas/Carta-galleta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
    
}
#card6 {
    background-image: url("./Sprites-Cartas/Carta-galleta2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card7 {
    background-image: url("./Sprites-Cartas/Carta-SantaBola.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card8 {
    background-image: url("./Sprites-Cartas/Carta-SantaBola2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card9 {
    background-image: url("./Sprites-Cartas/Carta-SantaCohete.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card10 {
    background-image: url("./Sprites-Cartas/Carta-SantaCohete2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card11 {
    background-image: url("./Sprites-Cartas/Carta-SantaCool.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card12 {
    background-image: url("./Sprites-Cartas/Carta-SantaCool2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card13 {
    background-image: url("./Sprites-Cartas/Carta-SantaSkater.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card14 {
    background-image: url("./Sprites-Cartas/Carta-SantaSkater2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card15 {
    background-image: url("./Sprites-Cartas/Carta-snowman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}
#card16 {
    background-image: url("./Sprites-Cartas/Carta-snowman2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 300px;
    cursor: pointer;
}



/* responsive */ /* responsive */ /* responsive */


/* responsive smartphone pointbreak*/

@media (max-width: 767.98px) { 


    .grid {
    
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        gap: 15px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        margin-bottom: 10%;
        
    }
    
    .grid div {
        display: flex; 
        background-color: rgb(255,248,165);
        padding: 2em;
        border-radius: 15px;
        height: 300px;
    }



    #card1 {
    
        background-image: url("./Sprites-Cartas/Carta-cohete.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card2 {
        background-image: url("./Sprites-Cartas/Carta-cohete2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card3 {
        background-image: url("./Sprites-Cartas/carta-regalo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card4 {
        background-image: url("./Sprites-Cartas/carta-regalo2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card5 {
        background-image: url("./Sprites-Cartas/Carta-galleta.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
        
    }
    #card6 {
        background-image: url("./Sprites-Cartas/Carta-galleta2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card7 {
        background-image: url("./Sprites-Cartas/Carta-SantaBola.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card8 {
        background-image: url("./Sprites-Cartas/Carta-SantaBola2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card9 {
        background-image: url("./Sprites-Cartas/Carta-SantaCohete.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card10 {
        background-image: url("./Sprites-Cartas/Carta-SantaCohete2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card11 {
        background-image: url("./Sprites-Cartas/Carta-SantaCool.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card12 {
        background-image: url("./Sprites-Cartas/Carta-SantaCool2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card13 {
        background-image: url("./Sprites-Cartas/Carta-SantaSkater.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card14 {
        background-image: url("./Sprites-Cartas/Carta-SantaSkater2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card15 {
        background-image: url("./Sprites-Cartas/Carta-snowman.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    #card16 {
        background-image: url("./Sprites-Cartas/Carta-snowman2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 5%;
        height: 120px;
        cursor: pointer;
    }
    


    .controles {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }



    .moves{
        font-size: 15px;
    }
    button {
        position: relative;
        display: inline-block;
        text-align: center;
        border-color: #c74545;
        width: 100px;
        border-radius: 5px;
        margin: 20px 30px;
        padding: 15px 15px;
        letter-spacing: 3px;
        font-size: 12px;
        border: 0;
        cursor: pointer;
        overflow: hidden;
        transition: 0.3s;
        
    }
    
    button:hover {
        background: #c74545;
        color: rgb(214, 209, 209);
        box-shadow: 0 0 10px #c74545, 0 0 40px #c74545, 0 0 80px #c74545;
        transition-delay: 0.2;
    }
    
    #btn-coleccion {
        position: relative;
        display: inline-block;
        text-align: center;
        border-color: #176294;
        border-radius: 5px;
        margin: 20px 30px;
        padding: 15px 15px;
        letter-spacing: 3px;
        font-size: 12px;
        border: 0;
        cursor: pointer;
        overflow: hidden;
        transition: 0.3s;
    
    }
    
    #btn-coleccion:hover {
        background: #176294;
        color: rgb(214, 209, 209);
        box-shadow: 0 0 10px #176294, 0 0 40px #176294, 0 0 80px #176294;
        transition-delay: 0.2;
    }

 }